@using HouseHub.Model
@model IList<Accommodation>


<div class="row">
    @foreach (var item in Model)
    {
        <article class="col-md-4 pb-5">
            <h4 class="border-bottom pb-2">
                <a href="#" class="text-dark">@Html.DisplayFor(modelItem => item.Name)</a>
                <div class="float-right approve-buttons">
                    <a asp-page="/Property/Delete" asp-route-id="@item.AccommodationID">
                        <span class="oi oi-x mx-2 text-danger" title="Delete" aria-hidden="true"></span>
                    </a>
                </div>
            </h4>
            <p>@Html.DisplayFor(modelItem => item.ShortDescription)</p>

            <img src="@item.ImagePath" class="img-fluid"/>
            
            @if (item.Reason != null)
            {
                <div class="alert alert-warning my-3" role="alert">
                    Reason: @Html.DisplayFor(modelItem => item.Reason)
                </div>
            }
        </article>
    }
</div>

