@page "{id?}"
@model HouseHub.Pages.Property.ApproveModel
@{
    ViewData["Title"] = "Approve";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="mb-3">Pending properties</h1>

@if (Model.Message != null)
{
    <div class="alert alert-success my-5" role="alert">
        @Model.Message
    </div>
}

<form class="row" method="post">
    @foreach (var item in Model.AccommodationList)
    {
        <article class="col-md-4 pb-5">
            <h4 class="border-bottom pb-2">
                <a href="#" class="text-dark">@Html.DisplayFor(modelItem => item.Name)</a>
                <div class="float-right approve-buttons">
                    <button type="submit"  asp-page="/Property/Approve" asp-route-id="@item.AccommodationID">
                        <span class="oi oi-check mx-2" title="check" aria-hidden="true"></span>
                    </button>
                    <a asp-page="/Property/Reject" asp-route-id="@item.AccommodationID">
                        <span class="oi oi-x mx-2" title="check" aria-hidden="true"></span>
                    </a>
                </div>
                
            </h4>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <img src="@item.ImagePath" class="img-fluid" />
        </article>
    }
</form>